# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Database
*.sqlite3
*.db

# Media & Static
media/
staticfiles/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
